@media only screen and (max-width: 576px) {
	.nav {
		.btn {
			font-size: 0.75rem;
		}
	}

	.rooms-item {
		flex: calc(100% - 2rem);
	}
}

@media only screen and (max-width: 768px) and (min-width: 577px) {
	.rooms-item {
		flex-basis: calc(50% - 2rem);
	}
}

@media only screen and (max-width: 1199px) and (min-width: 769px) {
	.rooms-item {
		flex-basis: calc(50% - 2rem);
	}
}
